.root {
    -fx-base: rgb(20, 20, 20);
    -fx-background: rgb(22, 22, 22);
    -fx-control-inner-background:  rgb(30, 30, 30);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: rgb(25, 38, 25);
    -fx-box-border: transparent;
    -fx-accent: rgb(70, 70, 70);
    -fx-selection-bar-non-focused: rgb(24, 24, 24);
    -fx-cell-focus-inner-border: #99999922;
    -fx-shadow-highlight-color: transparent;
}

.text-input {
    -fx-faint-focus-color: rgb(35, 48, 35);
    -fx-background-insets: -0.2, 1, -1.4, 1;
}

.button {
    -fx-faint-focus-color: rgb(35, 48, 35);
    -fx-background-insets: -0.2, 1, 2, -1.4, 1;
}

.unplug-text {
  -fx-fill: #eee;
}

.chat-message-text {
  -fx-fill: #fff;
}

.chat-message-meta {
  -fx-fill: #999;
}

.chat-message-error {
  -fx-fill: #f33;
}

.list-view {
  -fx-accent: rgb(20, 20, 20);
  -fx-selection-bar-non-focused: rgb(24, 24, 24);
}

.user-default {
  -fx-opacity: 0.5;
}

.user-typing {
  -fx-opacity: 1;
}

.user-present {
  -fx-opacity: 0.9;
}

.user-id {
  -fx-fill: #fff;
}

.user-displayname {
  -fx-fill: #666;
}
